<ngx-loading-bar></ngx-loading-bar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
    <span>Escuela de Hechicería y brujería Hogwarts</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened>
        <mat-nav-list #forms>
            <a mat-list-item href="/personajes" value="personajes">Personajes</a>
            <a mat-list-item href="/estudiantes" value="estudiantes">Estudiantes</a>
            <a mat-list-item href="/profesores" value="profesores">Profesores</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="content">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>